<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevitWindows.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RevitWindows.UserSettings>
            <setting name="autoActivate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="marginLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="marginTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="marginRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="marginBottom" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="cascadeMinWindows" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="cascadeMinWidthPix" serializeAs="String">
                <value>533</value>
            </setting>
            <setting name="cascadeMinHeightPix" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="cascadeMinWidthPct" serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="cascadeMinHeightPct" serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="cascadeColAdjHoriz" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="cascadeColAdjVert" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="cascadeBadWidthPct" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="cascadeBadHeightPct" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="tileMainViewMinWidthPct" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="tileMainViewMinHeightPct" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="tileSideViewWidthIncreasePct" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tileSideViewHeightIncreasePct" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tileSideViewSizeAdjustAmt" serializeAs="String">
                <value>0.25</value>
            </setting>
        </RevitWindows.UserSettings>
    </userSettings>
</configuration>