<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevitWindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RevitWindows.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevitWindows.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RevitWindows.Properties.Settings>
            <setting name="Alpha" serializeAs="String">
                <value>Alpha Test</value>
            </setting>
            <setting name="Beta" serializeAs="String">
                <value>0</value>
            </setting>
        </RevitWindows.Properties.Settings>
        <RevitWindows.UserSettings>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarginLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarginTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarginRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarginBottom" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CascadeViewMinWidthPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CascadeViewMinHeightPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CascadeColAdjHoriz" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CascadeColAdjVert" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CascadeBadViewMinWidthPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CascadeBadViewMinHeightPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TileMainViewMinWidthPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TileMainViewMinHeightPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TileSideViewWidthIncreasePct" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TileSideViewHeightIncreasePct" serializeAs="String">
                <value>1</value>
            </setting>
        </RevitWindows.UserSettings>
    </userSettings>
    <applicationSettings>
        <RevitWindows.UserSettings>
            <setting name="MinViews" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CascadeViewMinWidthPix" serializeAs="String">
                <value>533</value>
            </setting>
            <setting name="CascadeViewMinHeightPix" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TileSideViewSizeAdjustAmtPct" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="MarginMaxScreenPct" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="CascadeProperMaxViewSizePct" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="CascadeMaxColAdjPct" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="CascadeBadMaxViewSizePct" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="TileSideViewMaxSizeIncreasePct" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TileMainViewMaxSizePct" serializeAs="String">
                <value>0.75</value>
            </setting>
        </RevitWindows.UserSettings>
    </applicationSettings>
</configuration>