<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevitWindows.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevitWindows.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RevitWindows.UserSettings>
            <setting name="AutoActivate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarginLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarginTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarginRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarginBottom" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CascadeMinWidthPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CascadeMinHeightPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CascadeColAdjHoriz" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CascadeColAdjVert" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CascadeBadMinWidthPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CascadeBadMinHeightPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TileMainViewMinWidthPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TileMainViewMinHeightPct" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TileSideViewWidthIncreasePct" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TileSideViewHeightIncreasePct" serializeAs="String">
                <value>1</value>
            </setting>
        </RevitWindows.UserSettings>
    </userSettings>
    <applicationSettings>
        <RevitWindows.UserSettings>
            <setting name="CasadeMinWindows" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CascadeMinWidthPix" serializeAs="String">
                <value>533</value>
            </setting>
            <setting name="CascadeMinHeightPix" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TileSideViewSizeAdjustAmt" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="MarginMaxPct" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="CascadeMaxSizePct" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="CascadeMaxColAdjust" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="CascadeBadMaxSizePct" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="TileSideViewMaxIncreasePct" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TileMainViewMaxSizePct" serializeAs="String">
                <value>0.75</value>
            </setting>
        </RevitWindows.UserSettings>
    </applicationSettings>
</configuration>